*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url(image/bg.png);
    background-position: cover;
    background-attachment: fixed;
}
header{
    display: flex;
    align-items: center;
    padding: 5px 10px ;
    background-color: black;
}
.navbar ul{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 40px;
    color: white;
}
.navbar ul li{
    list-style: none;
    display: flex;
    align-items: center;
}
.logo{
    font-size: 1px;
    width: 100px;
    padding: 3px 6px;
}
.navbar ul li button{
    padding: 4px 18px;
    width: fit-content;
    gap: 50px;
    background-color:rgba(198, 13, 245, 0.774);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    margin-left: 650px;
}
/* 
.navbar ul .line{
    height: 5%;
    padding: 0 10px;
} */

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
    
    main h1{
        font-size: 50px;
        font-weight: bold;
    }
    main p{
        font-size: 15px;
    }

    main button{
        padding: 6px 22px;
        border: none;
        font-size: 16px;
        background-color: rgb(201, 9, 201);
        border-radius: 5px;
        margin-top: 3%;
        color: white;
        font-weight: 600;
    }
    
